@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,800;1,300&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.header-style{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: right bottom, left center;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 150px;
    padding: 50px 0;
    align-items: center
}
.logo{
font-size: 45px;
font-weight: bolder;
}
nav>ul{
    display: flex;
    align-items: center;
}
nav>ul>li{
    list-style: none;
    margin-left: 50px;
    font-size: 20px;
    cursor: pointer;
}
.text-primary{color:orange;}
.btn-primary{
    background-color:orange;
    color:#fff;
    padding: 18px 35px;
    font-size: 20px;
    font-weight:500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-primary:hover{
    color:#ddd;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}
/*Banner Section*/
.banner{
    display: flex;
    margin: 50px 150px;
    align-items: center;
}
.banner h5{
    font-size: 45px;
    font-weight: 400;
    margin: 0;
}
.banner h2{
    font-size: 60px;
    font-weight: 800;
    margin: 20px 0;
}
.banner p{
    font-size: 16px;
    line-height: 30px;
    color:#777;
}
.btn-primary-outline{
    color:orange;
    padding: 18px 35px;
    font-size: 20px;
    font-weight:500;
    border: 1px solid orange;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 30px;
}
/*About Section*/
.about{
    margin: 120px 150px;
    background-color: #FFF8F3;
    padding: 100px 130px;
    border-radius: 10px;
}
.about>p{
    font-size:16px;
    color:#777;
    line-height: 30px;
    margin: 30px 0;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.info-title{
    font-size: 16px;
    color:#777;
}
.info-description{
    font-size: 14px;
    color:orange;
    font-weight: bold;
}
/*what-i-do*/
.what-i-do{
    margin: 0 150px 120px;
    padding: 50px;
    text-align: center;
}
.what-i-do>p{
    margin: 30px 100px;
    color:#555;
}
.exparties-info-container{
    display: flex;
    gap:20px;
    text-align: left;
    justify-content: space-around;
}
.exparties-info-container>article {
    flex:1;
    padding: 10px;
    margin: 0 10px;
    box-shadow: 10px 10px 30px #E9EBEC;
}
.article-title{
    font-size: 20px;
    margin: 30px 0 20px 0;
}
article img{
    width: 50px;
}
article>ul{
    font-size: 13px;
    color:#555;
    line-height: 28px;
}
/*Resume Section*/
.resume{
    margin: 0 150px 120px;
    padding: 50px;
}
.resume h3{
    font-size: 30px;
}
.qualification{
    margin-top: 100px;
    display: flex;
    gap:20px;
    color:#474747;
}
.qualification div{
    flex:1;
}
.qualification h3{
    font-size: 20px;
    margin: 30px 0;
}
.qualifi-title{
    font-size: 18px;
    font-weight: 600;
    line-height: 45px;
}
hr{
    border: none;
}
.qualification-item{

}
.qualification-item h5{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}
.qualification-item>p{
font-size: 16px;
margin-bottom: 30px;
margin-right: 50px;
}
.download-style{
    margin: 0 auto;
}
/*footer style*/
footer{
    display: flex;
    padding:100px 200px;
    background-color: #FFF8F3;
    gap: 100px;
    color: #474747;
}
footer h3{
    font-size: 32px;
    margin-bottom: 30px;
}
.social-media>p{
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
}
.social-icon img{
    margin-right: 20px;
}
input[type="text"],input[type='email'], textarea{
    width: 100%;
    padding: 10px;
    margin:8px 0;
    border-radius: 7px;
    border: 1px solid #DEE1E6;
}