@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,800;1,300&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.header-style{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg-.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-size:auto;
    background-position: right bottom, left center;
}
nav{
    z-index: 500;
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
    align-items: center;
    position:sticky; 
    top:-20px; 
    background-color:#FFF8F3;
    /* border-bottom: 1px solid orange; */
    box-shadow: 0 2px 5px #ddd;
}
.logo{
font-size: 45px;
font-weight: bolder;
}
nav>ul{
    display: flex;
    align-items: center;
}
nav>ul>li{
    list-style: none;
    margin-left: 30px;
    font-size: 16px;
    cursor: pointer;
    
}
nav>ul>li>a{
    text-decoration: none;
    color:#474747;
    transition: all 0.3s;
}
nav>ul>li>a:hover{
    color:orange;
}
.text-primary{color:orange;}
.btn-primary{
    border: 1px solid orange;
    background-color:orange;
    color:#fff;
    padding: 10px 25px;
    font-size: 20px;
    font-weight:500;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
}
.btn-primary:hover{
    background-color:#fff;
    color:orange;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}
/*Banner Section*/
.banner{
    display: flex;
    padding: 110px 150px 0px;
    align-items: center;
}
.banner h5{
    font-size: 45px;
    font-weight: 400;
    margin: 0;
}
.banner h2{
    font-size: 60px;
    font-weight: 800;
    margin: 20px 0;
}
.banner p{
    font-size: 16px;
    line-height: 30px;
    color:#777;
}
.btn-primary-outline{
    color:orange;
    padding: 18px 35px;
    font-size: 20px;
    font-weight:500;
    border: 1px solid orange;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 30px;
}
/*About Section*/
.about{
    margin: 50px 150px;
    background-color: #FFF8F3;
    padding: 100px 130px;
    border-radius: 10px;
}
.about>p{
    font-size:16px;
    color:#777;
    line-height: 30px;
    margin: 30px 0;
}
.about-info-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap:40px;
}
.info-title{
    font-size: 16px;
    color:#777;
}
.info-description{
    font-size: 14px;
    color:orange;
    font-weight: bold;
}
/*what-i-do*/
.what-i-do{
    margin: 0 150px 120px;
    padding: 50px;
    padding-top: 100px;
    text-align: center;
}
.what-i-do>p{
    margin: 30px 100px;
    color:#555;
}
.exparties-info-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 50px;
    grid-column-gap: 90px;
    text-align: left;
    cursor: pointer;
    justify-content: space-around;
}
.exparties-info-container>article {
    width: 100%;
    padding: 30px;
    margin: 0 10px;
    box-shadow: 10px 10px 30px #E9EBEC;
    border: 1px solid #fff;
    transition: all 0.5s ease-in;
}
.exparties-info-container>article:hover {
    border: 1px solid #E9EBEC;
    transform:scaleX(1.1);
}
.article-title{
    font-size: 20px;
    margin: 30px 0 20px 0;
}
article img{
    width: 50px;
}
article>ul{
    font-size: 13px;
    color:#555;
    line-height: 28px;
}
/*Resume Section*/
.resume{
    margin: 0 150px 120px;
    padding: 50px;
    padding-top: 100px;
}
.resume h3{
    font-size: 30px;
}
.education{
    background-color: #8CC3A9;
    padding: 1rem;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
}
.experience{
    background-color: #CFE2FF; 
    padding: 1rem;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
}
.courses{
    background-color: #F8D7DA;
    padding: 1rem;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
}
.education:hover, .experience:hover, .courses:hover{
    transform: scaleX(1.1);
    border: 2px solid #FD6E0A;
}
.qualification{
    margin-top: 100px;
    display: flex;
    gap:20px;
    color:#474747;
}
.qualification div{
    flex:1;
}
.qualification h3{
    font-size: 20px;
    margin: 30px 0;
}
.qualifi-title{
    font-size: 16px;
    font-weight: 600;
    line-height: 45px;
    color:#1975FD;
}
hr{
    border: none;
}
.qualification-item{

}
.qualification-item h5{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}
.qualification-item>p{
font-size: 13px;
margin-bottom: 30px;
margin-right: 50px;
}
.download-style{
    margin: 0 auto;
}
/*Portfolio Section Style*/
.portfolio{
    margin: 0 150px 120px;
    padding: 50px;
    padding-top: 100px;
}
.portfolio-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap:50px;
    grid-column-gap:50px;
}
.portfolio-item {
	width: 100%;
	cursor: pointer;
	border: 2px solid #ddd;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 2px 2px 18px #FEBE5C;
    transition: all 0.5s ease-in-out;
}
.portfolio-item:hover{
    /* transform: translateY(-15px); */
    transform:scaleX(1.1);
    box-shadow: 2px 5px 18px #FEBE5C;
    border: 2px solid #FD6E0A;
}
.portfolio-item img{
    width: 100%;
}
.portfolio-item h3{
    font-size: 14px;
    color:#555;
}
.portfolio-item p{
    font-size: 13px;
    color:#555;
}
/*footer style*/
footer{
    display: flex;
    padding:100px 200px;
    background-color: #FFF8F3;
    gap: 100px;
    color: #474747;
}
footer h3{
    font-size: 32px;
    margin-bottom: 30px;
}
.social-media>p{
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
}
.social-icon img{
    margin-right: 20px;
}
input[type="text"],input[type='email'], textarea{
    width: 100%;
    padding: 10px;
    margin:8px 0;
    border-radius: 7px;
    border: 1px solid #DEE1E6;
}
/*Scroll to Top Section*/
#gotoup{bottom:5px; right:5px; position:fixed; overflow:hidden; cursor:pointer;}
#gotoup i{
    color:#FF2774;
    font-size: 35px;
}